@import "layout";

body {
  margin: 0px;
}

#main-app {
  height: 100vh;
  color: #333;
  .react-root {
    height: 100%;
  }
  .app-header {
    height: 80px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    .logout {
      float: right;
      cursor: pointer;
    }
  }
  .app-content {
    height: calc(100% - 80px);
    width: 100%;
    float: left;
    .login-form {
      width: 200px;
      height: 200px;
    }
  }
}
