@import "element";
@import "layout";


// 1rem = 10px
html {
  font-size: 62.5%
}

body {
  margin: 0rem;
  // font-size: 1.6rem;
  font: 300 1.6rem / 2.4rem "Proxima-Nova", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-app {
  height: 100vh;
  color: #333;
  .react-root {
    height: 100%;
  }
  .app-header {
    height: 8rem;
    width: 100%;
    float: left;
    border-bottom: 0.1rem solid #ccc;
    .logout {
      float: right;
      cursor: pointer;
    }
  }
  .app-content {
    height: calc(100% - 8rem);
    width: 100%;
    float: left;
  }
  .content-login {
    .login-form {
      width: 20rem;
      .title {
        text-align: center;
      }
    }
  }
}
