@import "element";
@import "layout";


// 1rem = 10px
html {
  font-size: 62.5%
}

body {
  margin: 0rem;
  font: 300 1.6rem / 2.4rem "Proxima-Nova", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-app {
  $header-height: 6rem;

  color: #333;
  .app-header {
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100%;
    float: left;
    background-color: $blue;
    color: $white;
    opacity: 0.9;
    .logout {
      float: right;
      cursor: pointer;
      margin-top: 13px;
      margin-right: 15px;
      font-size: 32px;
      i {
        &:hover {
          color: $yellow;
        }
      }
    }
    .apiloading {
      float: right;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  .app-sitenav {
    position: fixed;
    padding: 10px;
    z-index: 1;
    top: 20vh;
    left: -95px;
    color: $white;
    background-color: $blue;
    box-shadow: 6px 5px 12px 0 $dark-grey;
    overflow-x: hidden;
    transition: 0.5s;
    .site-menu-item {
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
      a {
        padding-left: 10px;
        color: $white;
      }
      &:hover {
        color: $yellow;
        a {
          color: $yellow;
        }
      }
    }
    &:hover {
      left: 0;
    }
  }
  .app-content {
    margin: 1rem;
    margin-top: $header-height;
    width: 100%;
    float: left;
  }
  .app-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);  // Fallback color
    background-color: rgba(0,0,0,0);  // Black w/ opacity
    .modal-content {
      position: relative;
      background-color: $white;
      margin: 15% auto;
      width: 25%; // Could be more or less, depending on screen size
      border-radius: 5px;
      box-shadow: 6px 8px 8px 0 rgba(0,0,0,0.2), 6px 7px 20px 0 rgba(0,0,0,0.19);
      @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
      }
      @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
      }
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      .modal-header {
        background-color: $blue;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.5rem;
        color: $white;
        .modal-header-content {
          float: left;
        }
        .modal-header-close {
          float: right;
          &:hover {
            color: $yellow;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .modal-body {
        padding: 10px;
      }
      .modal-footer {
        padding: 5px;
      }
    }
  }
  .content-login {
    height: calc(100vh - 3 * #{$header-height});
    .login-form {
      width: 20rem;
      .title {
        text-align: center;
        font-family: "黑体";
      }
    }
  }
}
